USE [ServerInventory]
GO
/****** Object:  Table [dbo].[MasterRecords]    Script Date: 07/07/2026 20:56:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterRecords](
	[sdbID] [int] IDENTITY(1,1) NOT NULL,
	[assetid] [varchar](50) NULL,
	[recordtype] [int] NULL,
	[Servername] [varchar](50) NULL,
	[BuildName] [varchar](50) NULL,
	[unixbuild] [int] NULL,
	[SerialNumber] [varchar](64) NULL,
	[RecordUpdate] [datetime] NULL,
	[SysID] [varchar](50) NULL,
	[TivObjID] [varchar](50) NULL,
	[SimpleID] [varchar](50) NULL,
	[SecID] [varchar](50) NULL,
	[SimID] [varchar](50) NULL,
	[SMSID] [varchar](50) NULL,
	[EARID] [varchar](50) NULL,
	[BuildDate] [datetime] NULL,
	[BuildEngineer] [varchar](100) NULL,
	[UnixModDate] [datetime] NULL,
	[UnixUpdate] [datetime] NULL,
	[AddedDate] [datetime] NULL,
	[OSName] [varchar](80) NULL,
	[OSSP] [varchar](50) NULL,
	[Model] [varchar](80) NULL,
	[CPUs] [varchar](100) NULL,
	[RAM] [varchar](25) NULL,
	[ManagementIP] [varchar](50) NULL,
	[DNSIP] [varchar](25) NULL,
	[MACAddresses] [varchar](200) NULL,
	[IPTest] [varchar](50) NULL,
	[IPDATE] [datetime] NULL,
	[LocationID] [int] NULL,
	[SysDate] [datetime] NULL,
	[SimpleLocation] [varchar](50) NULL,
	[TivoliLocation] [varchar](50) NULL,
	[SECLocation] [varchar](50) NULL,
	[RecordTime] [datetime] NULL,
	[IPAddresses] [varchar](1024) NULL,
	[SimpleStatus] [int] NULL,
	[VMEnv] [varchar](50) NULL,
	[VMTempDate] [datetime] NULL,
	[sDomain] [varchar](256) NULL,
	[support] [varchar](80) NULL,
	[backupsolcf] [varchar](80) NULL,
	[backupsold] [varchar](80) NULL,
	[AcquisitionCost] [varchar](100) NULL,
	[DepreciationPY] [varchar](100) NULL,
	[DepreciationCY] [varchar](100) NULL,
	[TotalDepreciation] [varchar](100) NULL,
	[WrittenDownValue] [varchar](100) NULL,
	[san] [varchar](3) NULL,
	[sandisktype] [varchar](64) NULL,
	[zone] [varchar](50) NULL,
	[cpumodel] [varchar](512) NULL,
	[MaintenanceDay] [varchar](50) NULL,
	[MaintenanceTime] [varchar](50) NULL,
	[PatchSequence] [varchar](10) NULL,
	[MaintenanceWindowComment] [varchar](1500) NULL,
	[PCIAsset] [varchar](10) NULL,
	[COA] [varchar](200) NULL,
	[IsPatched] [varchar](5) NULL,
	[LatestPatchKB] [varchar](10) NULL,
	[OSSupportEnds] [varchar](20) NULL,
	[InternetFacing] [varchar](5) NULL,
	[SOCIAsset] [varchar](5) NULL,
	[CheckedKBName] [varchar](10) NULL,
	[KBCheckTime] [datetime] NULL,
	[Essential8] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[xSummary]    Script Date: 07/07/2026 20:56:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xSummary](
	[Servername] [varchar](64) NOT NULL,
	[flag] [varchar](1024) NULL,
	[VirtualGuest] [varchar](10) NULL,
	[Owner] [varchar](500) NULL,
	[ChangeApprover] [varchar](500) NULL,
	[Description] [varchar](2048) NULL,
	[Outage] [varchar](256) NULL,
	[Contact] [varchar](256) NULL,
	[PrimaryFunction] [varchar](256) NULL,
	[SecondaryFunction] [varchar](256) NULL,
	[Priority] [int] NULL,
	[RecordUpdate] [datetime] NULL,
	[Decommissioned] [varchar](10) NULL,
	[Status] [varchar](128) NULL,
	[CMLServerinfo] [varchar](30) NULL,
	[Product] [varchar](50) NULL,
	[Classification] [varchar](50) NULL,
	[Assignee] [varchar](256) NULL,
	[AppDescription] [varchar](50) NULL,
	[AppTier] [varchar](50) NULL,
	[wtydepreciation] [int] NULL,
	[wtyexp] [datetime] NULL,
	[wtypo] [varchar](50) NULL,
	[charging] [varchar](50) NULL,
	[wtyeolsched] [varchar](16) NULL,
	[wtypurch] [datetime] NULL,
	[ContactGroup] [varchar](256) NULL,
	[ContactManager] [varchar](256) NULL,
	[ContactManagerGroup] [varchar](256) NULL,
	[Lastseen] [datetime] NULL,
	[RemovalDate] [datetime] NULL,
	[BESR] [varchar](20) NULL,
	[divown] [varchar](128) NULL,
	[Impact] [char](10) NULL,
	[Grid] [varchar](50) NULL,
	[RUPos] [varchar](50) NULL,
	[gshield] [varchar](20) NULL,
	[patchcontact] [varchar](512) NULL,
	[patchcomment] [varchar](1024) NULL,
	[SQLData] [varchar](3) NULL,
	[pingcheck] [varchar](1) NULL,
	[projeng] [varchar](128) NULL,
	[ServerShortDescription] [varchar](2048) NULL,
	[GALGroupEmailDistribList] [varchar](500) NULL,
	[AssignmentGroupAsInServiceNow] [varchar](300) NULL,
	[MSDNServer] [varchar](3) NULL,
	[PatchCategory] [varchar](5) NULL,
	[PrimaryAssigneeGroup] [varchar](256) NULL,
	[PrimaryAssigneeManagerName] [varchar](256) NULL,
	[MaintenanceDayNew] [varchar](50) NULL,
	[MaintenanceTimeNew] [varchar](50) NULL,
	[AffectedGroups] [varchar](2048) NULL,
	[BusinessGroup] [varchar](500) NULL,
	[PrimaryAssigneeGroupEmail] [varchar](200) NULL,
	[PSFunction] [varchar](512) NULL,
	[BusinessFunction] [varchar](2560) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTERLocations]    Script Date: 07/07/2026 20:56:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTERLocations](
	[ID] [int] NULL,
	[Description] [varchar](50) NULL,
	[Site_Type] [varchar](50) NULL,
	[State] [varchar](5) NULL,
	[Address] [varchar](200) NULL,
	[Contact] [varchar](50) NULL,
	[Contact_Phone] [varchar](30) NULL,
	[Switchboard] [varchar](20) NULL,
	[Notes] [varchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[DETAILAllServers]    Script Date: 07/07/2026 20:56:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[DETAILAllServers]
as
SELECT dbo.MasterRecords.sdbID, dbo.MasterRecords.recordtype, dbo.MasterRecords.Servername, dbo.MasterRecords.BuildName, dbo.MasterRecords.unixbuild, dbo.MasterRecords.SerialNumber, dbo.MasterRecords.RecordUpdate, dbo.MasterRecords.TivObjID, dbo.MasterRecords.SimpleID, dbo.MasterRecords.SecID, dbo.MasterRecords.SimID, dbo.MasterRecords.SMSID, dbo.MasterRecords.EARID, dbo.MasterRecords.BuildDate, dbo.MasterRecords.BuildEngineer, dbo.MasterRecords.UnixModDate, dbo.MasterRecords.UnixUpdate, dbo.MasterRecords.AddedDate, dbo.MasterRecords.OSName, dbo.MasterRecords.OSSP, dbo.MasterRecords.OSSupportEnds, dbo.MasterRecords.Model, dbo.MasterRecords.CPUs, dbo.MasterRecords.RAM, dbo.MasterRecords.ManagementIP, dbo.MasterRecords.DNSIP, dbo.MasterRecords.IPTest, dbo.MasterRecords.IPDATE, dbo.MasterRecords.LocationID, dbo.MasterRecords.SimpleLocation, dbo.MasterRecords.TivoliLocation, dbo.MasterRecords.SECLocation, dbo.MasterRecords.RecordTime, dbo.MasterRecords.IPAddresses, dbo.MasterRecords.SimpleStatus, dbo.MasterRecords.VMEnv, dbo.MasterRecords.VMTempDate, dbo.MasterRecords.sDomain, dbo.MasterRecords.support, dbo.MasterRecords.backupsolcf, dbo.MasterRecords.backupsold, dbo.MasterRecords.COA, dbo.MasterRecords.MaintenanceDay, dbo.MasterRecords.MaintenanceTime, dbo.MasterRecords.PatchSequence, dbo.MasterRecords.MaintenanceWindowComment, dbo.MasterRecords.PCIAsset, dbo.MasterRecords.InternetFacing, dbo.MasterRecords.SOCIAsset, dbo.MasterRecords.Essential8, dbo.MASTERLocations.Description AS LOCATIONNAME, dbo.MASTERLocations.State AS LOCATIONSTATE, dbo.MASTERLocations.Site_Type, dbo.xSummary.VirtualGuest, dbo.xSummary.Owner, dbo.xSummary.ChangeApprover, dbo.xSummary.Description, dbo.xSummary.Outage, dbo.xSummary.Contact, dbo.xSummary.PrimaryFunction, dbo.xSummary.SecondaryFunction, dbo.xSummary.BusinessFunction, dbo.xSummary.Priority, dbo.xSummary.RecordUpdate AS SummaryRecordUpdate, dbo.xSummary.Decommissioned, dbo.xSummary.Status, dbo.xSummary.CMLServerinfo, dbo.xSummary.Product, dbo.xSummary.Classification, dbo.xSummary.Assignee, dbo.xSummary.AppDescription, dbo.xSummary.AppTier, dbo.xSummary.wtydepreciation, dbo.xSummary.wtyexp, dbo.xSummary.wtypo, dbo.xSummary.charging, dbo.xSummary.wtyeolsched, dbo.xSummary.wtypurch, dbo.xSummary.ContactGroup, dbo.xSummary.ContactManager, dbo.xSummary.ContactManagerGroup, dbo.xSummary.Lastseen, dbo.xSummary.RemovalDate, dbo.xSummary.BESR, dbo.xSummary.divown, dbo.xSummary.Impact, dbo.xSummary.Grid, dbo.xSummary.RUPos, dbo.MasterRecords.assetid, dbo.MasterRecords.AcquisitionCost, dbo.MasterRecords.DepreciationPY, dbo.MasterRecords.DepreciationCY, dbo.MasterRecords.TotalDepreciation, dbo.MasterRecords.WrittenDownValue, dbo.MasterRecords.MACAddresses, dbo.xSummary.gshield, dbo.xSummary.patchcontact, dbo.xSummary.patchcomment, dbo.MasterRecords.san, dbo.MasterRecords.sandisktype, dbo.xSummary.SQLData, dbo.MasterRecords.SysID, dbo.MasterRecords.zone, dbo.MasterRecords.SysDate, dbo.xSummary.pingcheck, dbo.xSummary.flag, dbo.MasterRecords.cpumodel, dbo.xSummary.projeng, dbo.xSummary.ServerShortDescription, dbo.xSummary.GALGroupEmailDistribList, dbo.xSummary.AssignmentGroupAsInServiceNow, dbo.xSummary.MSDNServer, dbo.MasterRecords.IsPatched, dbo.MasterRecords.CheckedKBName, dbo.MasterRecords.KBCheckTime, dbo.xsummary.PatchCategory, dbo.xSummary.PrimaryAssigneeGroup, dbo.xSummary.PrimaryAssigneeManagerName, dbo.xSummary.MaintenanceDayNew, dbo.xSummary.MaintenanceTimeNew, dbo.xSummary.AffectedGroups, dbo.xSummary.BusinessGroup, dbo.xSummary.PrimaryAssigneeGroupEmail
FROM
	dbo.MasterRecords INNER JOIN
	dbo.MASTERLocations ON dbo.MasterRecords.LocationID = dbo.MASTERLocations.ID INNER JOIN
	dbo.xSummary ON dbo.MasterRecords.Servername = dbo.xSummary.Servername
WHERE
	(dbo.MasterRecords.SecID = '')

GO
/****** Object:  Table [dbo].[invSoftware]    Script Date: 07/07/2026 20:56:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invSoftware](
	[id] [varchar](35) NOT NULL,
	[Servername] [varchar](128) NULL,
	[displayname] [varchar](256) NULL,
	[displayversion] [varchar](64) NULL,
	[platform] [varchar](10) NULL,
	[recordtime] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTEROS]    Script Date: 07/07/2026 20:56:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTEROS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OSName] [varchar](100) NOT NULL,
	[OSSupportEnds] [varchar](50) NULL,
	[Status] [varchar](15) NOT NULL,
	[TempOSName] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatchCategories]    Script Date: 07/07/2026 20:56:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatchCategories](
	[PCategoryName] [varchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PCategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatchSequences]    Script Date: 07/07/2026 20:56:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatchSequences](
	[PatchSequenceName] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PatchSequenceName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[server_department]    Script Date: 07/07/2026 20:56:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[server_department](
	[dept_id] [varchar](32) NULL,
	[server_name] [varchar](32) NULL,
	[id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServerDomains]    Script Date: 07/07/2026 20:56:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServerDomains](
	[sDomain] [varchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sDomain] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[servers]    Script Date: 07/07/2026 20:56:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[servers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[server_name] [nvarchar](255) NOT NULL,
	[serial_number] [nvarchar](255) NULL,
	[ip_address] [nvarchar](50) NULL,
	[status] [nvarchar](50) NULL,
	[domain] [nvarchar](255) NULL,
	[affected_groups] [nvarchar](max) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_now_group]    Script Date: 07/07/2026 20:56:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_now_group](
	[sys_id] [varchar](32) NULL,
	[name] [varchar](60) NULL,
	[manager] [varchar](32) NULL,
	[email] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_now_users]    Script Date: 07/07/2026 20:56:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_now_users](
	[sys_id] [varchar](32) NULL,
	[name] [varchar](60) NULL,
	[manager] [varchar](32) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIMPLE_CML_SIMPLE_ENGINEERS]    Script Date: 07/07/2026 20:56:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIMPLE_CML_SIMPLE_ENGINEERS](
	[ENGINEER] [varchar](100) NOT NULL,
	[USERNAME] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ENGINEER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusTypes]    Script Date: 07/07/2026 20:56:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusTypes](
	[StatusName] [varchar](128) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[support_groups]    Script Date: 07/07/2026 20:56:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[support_groups](
	[id] [nvarchar](50) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[manager] [nvarchar](255) NULL,
	[members] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 07/07/2026 20:56:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[invSoftware] ([id], [Servername], [displayname], [displayversion], [platform], [recordtime]) VALUES (N'wp1teamapi001-c-1', N'wp1teamapi001-c', N'MS office', N'14.1.1.4.2', N'64bit', CAST(N'2026-07-01T16:35:14.637' AS DateTime))
GO
INSERT [dbo].[MASTERLocations] ([ID], [Description], [Site_Type], [State], [Address], [Contact], [Contact_Phone], [Switchboard], [Notes]) VALUES (50, N'Stafford', N'Remote', N'QLD', N'434 Stafford Road, Stafford, QLD, 4053', N'Adrian Doyal', N'(07) 3352 7705', NULL, NULL)
INSERT [dbo].[MASTERLocations] ([ID], [Description], [Site_Type], [State], [Address], [Contact], [Contact_Phone], [Switchboard], [Notes]) VALUES (51, N'Sunshine', N'Remote', N'VIC', N'Corner Hampshire Road & Service Street, Sunshine, VIC, 3020', N'Jodie', N'(03) 9313 0000', NULL, NULL)
INSERT [dbo].[MASTERLocations] ([ID], [Description], [Site_Type], [State], [Address], [Contact], [Contact_Phone], [Switchboard], [Notes]) VALUES (64, N'Geelong', N'Remote', N'VIC', N'12-14 Thompson Road, Geelong North, VIC, 3215', N'John Capra / Frank Staltaro', N'(03) 5246 2750', N'(03) 5246 2626', NULL)
GO
SET IDENTITY_INSERT [dbo].[MASTEROS] ON 

INSERT [dbo].[MASTEROS] ([ID], [OSName], [OSSupportEnds], [Status], [TempOSName]) VALUES (1, N'Windows Server 2022 Std Ed', N'2031-10-14', N'Active', N'windows-2022-managed')
INSERT [dbo].[MASTEROS] ([ID], [OSName], [OSSupportEnds], [Status], [TempOSName]) VALUES (2, N'Windows Server 2019 Std Ed', N'2029-01-09', N'Active', N'windows-2019-managed')
INSERT [dbo].[MASTEROS] ([ID], [OSName], [OSSupportEnds], [Status], [TempOSName]) VALUES (3, N'Windows Server 2016 Std Ed', N'2027-01-12', N'Active', NULL)
SET IDENTITY_INSERT [dbo].[MASTEROS] OFF
GO
SET IDENTITY_INSERT [dbo].[MasterRecords] ON 

SET IDENTITY_INSERT [dbo].[MasterRecords] OFF
GO
INSERT [dbo].[PatchCategories] ([PCategoryName]) VALUES (N'Amber')
INSERT [dbo].[PatchCategories] ([PCategoryName]) VALUES (N'Black')
INSERT [dbo].[PatchCategories] ([PCategoryName]) VALUES (N'Green')
GO
INSERT [dbo].[PatchSequences] ([PatchSequenceName]) VALUES (N'Anytime')
INSERT [dbo].[PatchSequences] ([PatchSequenceName]) VALUES (N'Week 1')
INSERT [dbo].[PatchSequences] ([PatchSequenceName]) VALUES (N'Week 2')
GO
INSERT [dbo].[server_department] ([dept_id], [server_name], [id]) VALUES (N'G12346', N'wp1teamapi001-c', NULL)
INSERT [dbo].[server_department] ([dept_id], [server_name], [id]) VALUES (N'G12345', N'wp1teamapi001-c', NULL)
GO
INSERT [dbo].[ServerDomains] ([sDomain]) VALUES (N'colesmyer.ad.cmltd.net.au')
INSERT [dbo].[ServerDomains] ([sDomain]) VALUES (N'dmz.ad.cmltd.net.au')
INSERT [dbo].[ServerDomains] ([sDomain]) VALUES (N'retail.ad.cmltd.net.au')
GO
SET IDENTITY_INSERT [dbo].[servers] ON 

INSERT [dbo].[servers] ([id], [server_name], [serial_number], [ip_address], [status], [domain], [affected_groups], [updated_at], [created_at]) VALUES (1, N'Server 1', N'Test01', N'127.22.0.8', N'Prod', N'retail.cmltd.net.au', N'Windows Support', NULL, NULL)
INSERT [dbo].[servers] ([id], [server_name], [serial_number], [ip_address], [status], [domain], [affected_groups], [updated_at], [created_at]) VALUES (2, N'Server 2', N'Test01', N'127.22.0.8', N'Prod', N'retail.cmltd.net.au', N'Windows Support', CAST(N'2026-04-23T17:10:31.9100000' AS DateTime2), CAST(N'2026-04-23T17:10:31.9100000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[servers] OFF
GO
INSERT [dbo].[service_now_group] ([sys_id], [name], [manager], [email]) VALUES (N'G12345', N'Windows System', N'U123458', N'windows@coles.com')
INSERT [dbo].[service_now_group] ([sys_id], [name], [manager], [email]) VALUES (N'G12346', N'Unix Systems Linux', N'U123460', NULL)
GO
INSERT [dbo].[service_now_users] ([sys_id], [name], [manager]) VALUES (N'U123456', N'Amrit Sharma', N'U123458')
INSERT [dbo].[service_now_users] ([sys_id], [name], [manager]) VALUES (N'U123457', N'Aman Narang', N'U123458')
INSERT [dbo].[service_now_users] ([sys_id], [name], [manager]) VALUES (N'U123458', N'Raman Verma', N'U123460')
GO
INSERT [dbo].[SIMPLE_CML_SIMPLE_ENGINEERS] ([ENGINEER], [USERNAME]) VALUES (N'Ajay K', N'abar')
INSERT [dbo].[SIMPLE_CML_SIMPLE_ENGINEERS] ([ENGINEER], [USERNAME]) VALUES (N'Meena', N'mee')
INSERT [dbo].[SIMPLE_CML_SIMPLE_ENGINEERS] ([ENGINEER], [USERNAME]) VALUES (N'Sanjay', N'sanj')
GO
INSERT [dbo].[StatusTypes] ([StatusName]) VALUES (N'Build')
INSERT [dbo].[StatusTypes] ([StatusName]) VALUES (N'Coles-Dev')
INSERT [dbo].[StatusTypes] ([StatusName]) VALUES (N'Coles-Test')
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [name], [email]) VALUES (1, N'Ajay', N'ajay@test.com')
INSERT [dbo].[users] ([id], [name], [email]) VALUES (2, N'Ajay2', N'ajay2@test.com')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MASTEROS__82612F86CA196ED7]    Script Date: 07/07/2026 20:56:48 ******/
ALTER TABLE [dbo].[MASTEROS] ADD UNIQUE NONCLUSTERED 
(
	[OSName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MASTEROS] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[support_groups] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[support_groups] ADD  DEFAULT ('') FOR [manager]
GO
ALTER TABLE [dbo].[support_groups] ADD  DEFAULT ('[]') FOR [members]
GO
ALTER TABLE [dbo].[MasterRecords]  WITH CHECK ADD  CONSTRAINT [FK_MasterRec_Eng] FOREIGN KEY([BuildEngineer])
REFERENCES [dbo].[SIMPLE_CML_SIMPLE_ENGINEERS] ([ENGINEER])
GO
ALTER TABLE [dbo].[MasterRecords] CHECK CONSTRAINT [FK_MasterRec_Eng]
GO
ALTER TABLE [dbo].[MasterRecords]  WITH CHECK ADD  CONSTRAINT [FK_MasterRec_patchseq] FOREIGN KEY([PatchSequence])
REFERENCES [dbo].[PatchSequences] ([PatchSequenceName])
GO
ALTER TABLE [dbo].[MasterRecords] CHECK CONSTRAINT [FK_MasterRec_patchseq]
GO
ALTER TABLE [dbo].[MasterRecords]  WITH CHECK ADD  CONSTRAINT [FK_MasterRec_sdomain] FOREIGN KEY([sDomain])
REFERENCES [dbo].[ServerDomains] ([sDomain])
GO
ALTER TABLE [dbo].[MasterRecords] CHECK CONSTRAINT [FK_MasterRec_sdomain]
GO
ALTER TABLE [dbo].[xSummary]  WITH CHECK ADD  CONSTRAINT [FK_Server_Status] FOREIGN KEY([Status])
REFERENCES [dbo].[StatusTypes] ([StatusName])
GO
ALTER TABLE [dbo].[xSummary] CHECK CONSTRAINT [FK_Server_Status]
GO
ALTER TABLE [dbo].[xSummary]  WITH CHECK ADD  CONSTRAINT [FK_xSummary_patchcat] FOREIGN KEY([PatchCategory])
REFERENCES [dbo].[PatchCategories] ([PCategoryName])
GO
ALTER TABLE [dbo].[xSummary] CHECK CONSTRAINT [FK_xSummary_patchcat]
GO
